body {
    padding-top: 50px;
}
h3 {
    margin-bottom: 20px;
}

#img-darkvader {
    padding-top: 20px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
img {
    margin-bottom: 20px;
}
footer a {
    color: grey;
    text-decoration:underline;
}

footer a:link {
    color: grey;
}

#menu a {
    color: white
}
#menu a:link {
    background-color: transparent;
}

#img-header {
    background-image: url("img/header.png") ;
}
#img-koloren {
    background-image: url("img/kiloren.jpg") ;
}
#img-storm {
     background-image: url("img/stormtroopers.jpg") ;
 }
#img-darkvader {
    background-image: url("img/darkvader.jpg");
    min-height: 400px;
    background-position: center; 
}
#img-darkvader p {
    color: grey;
}
#back-dark {
    background-color:#181818;
}
.img-responsive {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container:first-of-type {
    padding-top: 0px;
    padding-bottom: 0px;
}
.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

#back-dark > .container {
    padding-top: 0px;
   
}

@media (max-width: 992px) {
      .text-sm-center {
        text-align: center;
      } 
}

/* Custom nav */
.navbar-inverse { background-color: #000000}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #080808}
.dropdown-menu { background-color: #ffffff}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428bca}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #999999}
.navbar-inverse .navbar-brand:hover { color: #ffffff}
.navbar-inverse .navbar-nav>li>a { color: #999999}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #ffffff}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #ffffff}

